    body {
        font-family: Arial, sans-serif;
        background-color: #f5d7d7;
    }

    .container {
        width: 450px;
        margin: 30px auto;
        padding: 20px;
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-group {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
    }

    .form-group label {
        width: 150px;
        font-weight: bold;
    }

    .form-group input,
    .form-group select,
    .form-group textarea {
        flex: 1;
        padding: 6px;
        border: 1px solid pink;
        border-radius: 3px;
    }

    .inline-inputs {
        display: flex;
        gap: 5px;
        flex: 1;
    }

    .inline-inputs input {
        width: 100%;
    }

    .radio-group,
    .checkbox-group {
        align-items: center;
    }

    textarea {
        resize: none;
        height: 60px;
    }

    .btn {
        display: block;
        margin: 20px auto;
        padding: 8px 20px;
        border: 1px solid #000;
        background-color: #eee;
        cursor: pointer;
    }

    .code {
    width: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    background: #eee;
    }